/* // Dont use this operationg system without lisence
// copyright 2024 Haseef Muhammer
// Web Craft and Any Time Services
// Library FLowwaypc
// css library Haseef Swift language
// Server Git Hub
// This website already hosted on netlify inc
*/


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Delicious+Handrawn&family=Jersey+10&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Malayalam:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Scribble&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shadows+Into+Light&family=Workbench&display=swap');
/* copy from style.css */

.icon{
    width: 10em;
}
.brand{
    font-family: "Rubik Scribble", system-ui;
    font-weight: bolder;
    font-style: normal;
  
}
body {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    align-items: center;
    height: 100vh;
  }
  
  #clock h1{
      font-family: "Workbench", sans-serif;
      font-optical-sizing: auto;
      font-weight: bolder;
      font-size: 2em;
      font-style: normal;
      font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
  }
  .button{
    font-weight: bolder;
  }
  a{
    text-decoration: none;
  }

  
  /* Custom CSS for horizontal scrolling */
.scrollable {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .page {
    display: inline-block;
    width: 100%; /* Set the width of each page to the viewport width */
    height: 100%; /* Set the height of each page to the viewport height */
  }
  
  /* Apps */

.app-img{
    border-radius: 10px;
    width: 6em;
}
.app-txt{
    font-weight: bolder;
    font-size: 1em;
    text-transform: uppercase;
}

/* climate */
.climate{
    background-image: url("images/weather\ bg.png");
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    border-radius: 20px;
    width: 600px;
    /* height: 350px; */
}

#clock-2 h1{
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: 2em;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

.icon2{
    width: 5em;
}
table{
    text-transform: capitalize;
}
.iframe{
    width: 100%;
    height: 25em;
}
.iframe2{
    width: 100%;
    height: 40em;
}
.iframe3{
    width: 100%;
    height: 100vh;
}
.iframe4{
  width: 100%;
  height: 100vh;
}


/* calc */
  .container-calc {
    position: relative;
    min-width: 300px;
    min-height: 400px;
    padding: 40px 30px 30px;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
      10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
      inset 5px 5px 15px rgba(0, 0, 0, 0.25);
  }
  .container-calc span {
    color: #fff;
    position: relative;
    display: grid;
    width: 80px;
    place-items: center;
    margin: 8px;
    height: 80px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
      inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
      10px 20px 25px rgba(0, 0, 0, 0.4);
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
  }
  .calculator span:active {
    filter: brightness(1.5);
  }
  .calculator span::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    border-radius: 10px;
    background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
      10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
  }
  .calculator span i {
    position: relative;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .calculator {
    position: relative;
    display: grid;
  }
  .calculator .value {
    position: relative;
    grid-column: span 4;
    height: 100px;
    width: calc(100% - 20px);
    left: 10px;
    border: none;
    outline: none;
    background-color: #a7af7c;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
    text-align: right;
    padding: 10px;
    font-size: 2em;
  }
  .calculator .clear {
    grid-column: span 2;
    width: 180px;
    background: #f00;
  }
  .calculator .clear::before {
    background: linear-gradient(90deg, #d20000, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
  }
  .calculator .plus {
    grid-row: span 2;
    height: 180px;
  }
  .calculator .equal {
    background: #2196f3;
  }
  .calculator .equal::before {
    background: linear-gradient(90deg, #1479c9, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
  }
  
.tap{
  font-size: 1.5em;
}


#fullscreen-iframe {
  width: 100vw;
  height: 100vh;
  border: none;
  display: block;
}

.dialog{
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
}
.dt{
  border: 2px solid white;
}

.load{
  width: 40em;
  height: 20em;
}

.setting-shut{
  width: 5em;
}


/* Dialog */
.dialog-connect h1{
  font-size: 3em;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.dialog-connect img{
  width: 15em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.dialog-connect h3,p{
  text-align: center;
}
.dialog-connect button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.dialog-manual h1{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dialog-manual video{
  height: 22em;
  border: none;
}
.dialog-manual button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.dialog-admin h1{
  text-align: center;
}
.dialog-admin img{
  border-radius: 50%;
  width: 20em;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dialog-admin p{
  font-family: "Courgette", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
}
.dialog-admin h4{
  text-align: center;
}
.dialog-admin button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}